<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<properties>
		<property name="pattern">[%-5.5p] %C(line %L) - %m%n</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}"/>
		</Console>
	</appenders>
	<loggers>
		<root level="DEBUG"> <!-- We log everything -->
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>